{% extends 'games/base.html' %}
{% load hitcount_tags %}

{% block content %}
    <div class="game_card">  
        <div class="game_card">  
            <div class="game_card_top">
                <a href="{% url 'game_detail' pk=game.pk%}"><p class="game_title">{{game.title}}</p></a>
            </div>
            {% if perms.games.change_game %}
            <div class="game_edit">
                <a href="{% url 'game_edit' pk=game.pk %}">
                    {% include 'icons/three-dots-vertical.svg' %}
                </a>
            </div>
            {% endif %}
        <img src="/media/{{game.poster}}" alt="">
        <p>Company: {{game.studio}}</p>
        <p>{{game.release_date}}</p>
        <p>{{game.genre}}</p>
        <p>{{game.style}}</p>
        <p>{{game.desc}}</p>
        <p>{{game.publisher}}</p>
        <p>{{game.rating_metacritic}}</p>
        <p>{{game.rating_ign}}</p>
        <p>{{game.price }}</p>
        <p>Views: {% get_hit_count for game %}</p>
    </div>
    {% if game.trailer_url is not None %}
    <div style="margin: auto;">
        <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/{{game.trailer_url}}" 
            title="YouTube video player" 
            N9wt_cnSCdE
            frameborder="0" 
            allow="
                accelerometer; 
                autoplay; 
                clipboard-write; 
                encrypted-media; 
                gyroscope; 
                picture-in-picture; 
                web-share" 
            allowfullscreen>
        </iframe>
    </div>

    {% endif %}
    <div class="recommended">
        {% for rec in recommended %}
            <a href="{% url 'game_detail' pk=rec.pk %}">{{rec.title}}</a>
        {% endfor %}
    </div>

    <div>
        <div>
            <p>Avg: {{average_rating}} | Amt: {{review_count}}</p></p>
        </div>
        {% if user.is_authenticated %}
        <p><a href="{% url 'create_review' uid=user.pk gid=game.pk %}"><button>Review</button></a></p>
        {% endif %}
        {% for review in reviews %}
            <div style="background-color: white;">
                <p>{{ review.author }}</p>
                <p>{{ review.comment }}</p>
                <p>{{ review.rating }}</p>
                <p>{{ review.rating_date }}</p>
                <div class="likes">
                    <p>
                        {% if user.is_authenticated %}
                            {% if not review.is_liked %}
                            <a href="{% url 'like_review' gid=game.pk rid=review.pk uid=user.pk %}">
                                <span class="button">{% include 'icons/arrow-up.svg' %} {{ review.likes }}</span>
                            </a>
                            {% else %}
                            <a href="{% url 'like_review' gid=game.pk rid=review.pk uid=user.pk %}">
                                <span class="button-like">{% include 'icons/arrow-up.svg' %} {{ review.likes }}</span>
                            </a>
                            {% endif %}
                        {% else %}
                        <span class="button">{% include 'icons/arrow-up.svg' %} {{ review.likes }}</span>
                        {% endif %}
                        |
                        {% if user.is_authenticated %}
                        <a href="{% url 'dislike_review' gid=game.pk rid=review.pk uid=user.pk %}">
                            {% if not review.is_disliked %}
                                <span class="button">{% include 'icons/arrow-down.svg' %} {{ review.dislikes }}</span></a>

                            {% else %}
                                <span class="button-dislike">{% include 'icons/arrow-down.svg' %} {{ review.dislikes }}</span></a>
                            {% endif %}
                        {% else %}
                        <span class="button-like">{% include 'icons/arrow-down.svg' %} {{ review.dislikes }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}