{% extends 'games/base.html' %}
{% load hitcount_tags %}

{% block content %}
<div class="game_card" style="border-bottom: 2px black solid; margin: 10px;">    
    <div class="game_card_top">
        <div class="game_title">
            <p class>{{studio.name}}</p>
        </div>
        {% if perms.studios.change_studio %}
        <div class="game_edit">
            <a href="{% url 'studio_edit' pk=studio.pk %}">
                {% include 'icons/three-dots-vertical.svg' %}
            </a>
        </div>
        {% endif %}
    </div>
    <img src="/media/{{studio.logo}}" alt="">
    <p>{{studio.headquarters}}</p>
    <p>{{studio.main_site}}</p>
    <p>{{studio.founder}}</p>
    <p>{{studio.founded}}</p>
    <p>Views: {% get_hit_count for studio %}</p>
    {% for game in games_list %}
        <p>{{ game.title }}</p> 
    {% endfor %} 
</div>
<div class="recommended">
    {% for rec in recommended %}
        <a href="{% url 'studio_detail' pk=rec.pk %}">{{rec.name}}</a>
    {% endfor %}
</div>
{% endblock %}